html
{ 
	background-image: url(Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}	

body
{
	text-align:center;
	margin-left: 300px;
	margin-right: 300px;
	background-color: rgb(112, 146, 190);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1
{
	font-size: 30pt;
	background-color: black;
	text-shadow: 5px 5px #053d5e;
	margin-top: 2px;
}

h2
{
	font-size:25px;
	background-color: #053d5e;
	text-shadow:2px 4px black;
}

h3
{
	color: #061630;
	border-bottom: 1px;
	text-shadow: 4px 3px #a0a4aa;
	margin-bottom: 5px;
}

p
{
	margin-left: 50px;
	margin-right: 50px;
	background-color: #95afd8;
	border: 10px black;
	padding: 10px;
}

a
{
	color: #1a396b;
}

ol
{
	font-size:13pt;
	text-align:left;
	list-style-position: outside;
	margin: auto;
	width: 35%
}

.othertext
{
	margin: 2px;
	text-align: right;
	background-color: rgb(112, 146, 190);
}

.validation
{
	margin: left;
}
